.menu>li>a {
  border-radius: 0px;
  font-weight: 500;
}

.login-btn {
  font-weight: 700 !important;
}

/* Container CSS Start */

.customContainer {
  width: 100%;
  padding-right: .75rem;
  padding-left: .75rem;
  margin-right: auto;
  margin-left: auto;
}

.bannerImage {
  height: calc(100vh - 72px);
  object-fit: cover;
  display: flex;
  align-items: center;
}

.navbarScrollBoxShadow {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%)
}

/*  Active Link CSS */
ul>li>a:hover {
  background-color: white;
}

.loginSignOutBtn {
  font-weight: 600 !important;
  border-radius: 3px !important;
}

.bannerTitleStyle {
  line-height: 60px;
}

@media screen {

  @media (max-width: 575px) {

    .customContainer {
      width: 100%;
      padding-right: 1.4rem;
      padding-left: 1.4rem;
      margin-right: auto;
      margin-left: auto;
    }

    .bannerImage {
      height: fit-content;
      object-fit: cover;
      display: flex;
      align-items: center;
    }

    .bannerTitleStyle {
      line-height: normal;
    }
  }

  @media (min-width: 576px) {
    .customContainer {
      max-width: 520px;
    }
  }

  @media (min-width: 768px) {
    .customContainer {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .customContainer {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .customContainer {
      max-width: 1180px;
    }
  }
}